.footer {
    background-color: #333;
    color: #aaa;
    padding: 50px 0;
    text-align: center;
    font-size: 0.9rem;
}

.name {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 20px;
    line-height: 1.8;
}

.copyright {
    font-size: 0.8rem;
    opacity: 0.6;
}